@model WebApplication5.Models.parentClass

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_Layout_this_page", "Parents")


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parent_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.parent_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
