@model IEnumerable<WebApplication5.Models.TagsClass>

 
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all")
@Styles.Render("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")
@Styles.Render("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")
@Styles.Render("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
@Styles.Render("~/assets/global/plugins/datatables/datatables.min.css")
@Styles.Render("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
@Styles.Render("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
@Styles.Render("~/assets/global/css/components.min.css")
@Styles.Render("~/assets/global/css/plugins.min.css")
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
@Styles.Render("~/assets/layouts/layout3/css/layout.min.css")
@Styles.Render("~/assets/layouts/layout3/css/themes/default.min.css")
@Styles.Render("~/assets/layouts/layout3/css/custom.min.css")


@Html.Partial("_Layout_this_page", "Tags")

@*<div class="btn-group" style="color:white !important;">
    <span id="sample_editable_1_new" class="btn green">
        <a href="~/tags/Create" style="color:white !important;text-decoration:none;">Create New</a>
        <i class="fa fa-plus"></i>
    </span>
    
</div>*@

<table class="table" id="sample_2">
    <thead>
        <tr>
            <th>
                Tag Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tag_name)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.tag_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.tag_id }) |
                    @Html.ActionLink("Retire", "Retire", new { id = item.tag_id })
                </td>
            </tr>
        }
    </tbody>

</table>
@Scripts.Render("~/assets/global/plugins/jquery.min.js")
@Scripts.Render("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/assets/global/plugins/js.cookie.min.js")
@Scripts.Render("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/assets/global/plugins/jquery.blockui.min.js")
@Scripts.Render("~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
@Scripts.Render("~/assets/global/scripts/datatable.js")
@Scripts.Render("~/assets/global/plugins/datatables/datatables.min.js")
@Scripts.Render("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
@Scripts.Render("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
@Scripts.Render("~/assets/global/scripts/app.min.js")
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@Scripts.Render("~/assets/pages/scripts/table-datatables-ajax.min.js")
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
@Scripts.Render("~/assets/layouts/layout3/scripts/layout.min.js")
@Scripts.Render("~/assets/layouts/layout3/scripts/demo.min.js")
@Scripts.Render("~/assets/layouts/global/scripts/quick-sidebar.min.js")
@Scripts.Render("~/assets/layouts/global/scripts/quick-nav.min.js")

<script src="~/Scripts/tags.js"></script>