@model WebApplication5.Models.UserClass

@{
    ViewBag.Title = "Details";
}

    @Html.Partial("_Layout_this_page", "Users")


<div>
    <h4>UserClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
